html,
body {
    height: 100%;
    width: 100%;
    background: #1b1d1b;
}

.container {
    width: 30%;
    margin: 5rem auto;
    min-height: 60%;
    height: 500px;
    border-radius: 10px;

    
}

.content {
    display: flex;
    flex-direction: column;
    background: #607e33;
    height: 100%;
    border-radius: 10px;
    border: 5px solid #1a1d10;
}

.top {
    background: #45610fe7;
    width: 90%;
    margin: 1rem auto;
    height: 30%;
    border-radius: 10px;
    border: 2px solid rgb(53, 73, 23);
    cursor: crosshair;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    color:#c3d997;
}

.topTopRow {
    height: 50%;
    display: flex;
    gap: 1rem;
    justify-content: end;
    font-size: 18px;
    font-weight: 200;
    padding: 0.3rem 0.5rem;
    overflow: hidden;
}

.topBottomRow {
    height: 50%;
    display: flex;
    gap: 1rem;
    justify-content: end;
    font-size: 24px;
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    overflow: hidden;
}

.bottom {
    width: 90%;
    height: 70%;
    margin: 1rem auto;
    border-radius: 10px;
    background-color: #839364;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.row button {
    width: 80px;
    height: 50px;
    outline: none;
    background-color: #909e4d;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
}

.row button:hover {
    background-color: #b1bf95;
    cursor: pointer;
}

span {
    width: 180px;
    height: 50px;
    outline: none;
    background-color: rgb(210, 44, 44);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
}

span:hover {
    background-color: rgb(82, 49, 49);
    color: whitesmoke;
}

.equals {
    background-color: rgb(16, 84, 17);
    color: aliceblue;
}

.equals:hover {
    background-color: rgb(33, 126, 34);
}


@media (max-width: 768px) {
    .container {
        width: 80%;
    }

    .row button {
        width: 80px;
    }
}